.payment-home {
  padding-top: 2vw;
}
.payment-home-header {
  height: 10vh;
}

.payment-home-header-logo {
  padding-bottom: 5vw;
  padding-right: 5vw;
  padding-left: 5vw;
}
.payment-home-landing-container {
  justify-content: space-between;
  padding-right: 5vw;
  height: 90vh;
  padding-left: 5vw;
  /* background-color: yellow; */
}

.payment-home-text {
  align-self: flex-start;
  padding-top: 20vh;
  width: 40%;
  /* background-color: blue; */
}

.payment-home-mockup {
  align-self: flex-start;
  height: 90%;
  /* background-color: red; */
  /* display: block; */
}

.explainer-container {
  background-image: url("/Users/Goon/Desktop/landingpages/v1/src/resources/images/explainer-bg-purple.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 90vh;
}
div .app {
  background-image: linear-gradient(#6600e8, #000000);
}
.explainer-container-content {
  justify-content: space-between;
  width: 80vw;
  margin: auto;
  height: 40vh;
  padding-top: 10vh;
}

.explainer-title {
  padding-right: 5vw;
}
.explainer-text-boxes {
  justify-content: space-between;
}
.payment-home-footer {
  width: 50vw;
  margin: auto;
}

.payment-home-footer .email-input-container {
  padding-top: 0 !important;
}
