.pink-1 {
  background-image: url("/src/resources/images/gradient-text-box/pink-1.svg");
}
.pink-2 {
  background-image: url("/src/resources/images/gradient-text-box/pink-2.svg");
}
.pink-3 {
  background-image: url("/src/resources/images/gradient-text-box/pink-3.svg");
}
.purple-1 {
  background-image: url("/src/resources/images/gradient-text-box/purple-1.svg");
}
.purple-2 {
  background-image: url("/src/resources/images/gradient-text-box/purple-2.svg");
}
.purple-3 {
  background-image: url("/src/resources/images/gradient-text-box/purple-3.svg");
}

.gradient-text-box {
  width: 20vw;
  height: 10vw;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
}
.gradient-text-box-content {
  width: 80%;
  margin: auto;
  vertical-align: center;
  justify-self: center;
  align-self: center;
}
.gradient-text-box-title {
  padding-bottom: 0.5rem;
}

h6.gradient-text-box-title {
  font-size: 1rem;
}
.gradient-text-box-body {
  font-size: 0.9rem;
}

@media only screen and (max-width: 800px) {
  .gradient-text-box {
    width: 80vw !important;
    height: 40vw !important;
    margin-bottom: 10vw !important;
    margin: auto;
  }
  .gradient-text-box-content {
    width: 90% !important;
  }
}
