div .app {
  background-image: linear-gradient(#cc00ff, #000000) !important;
}

.lottery-home {
  padding-top: 5vh;
}
.lottery-home-header {
  height: 10vh;
}

.lottery-home-header-logo {
  padding-bottom: 5vw;
  padding-right: 5vw;
  padding-left: 5vw;
}
.lottery-home-landing-container {
  justify-content: flex-start;
  height: 90vh;
  padding-left: 5vw;
  /* background-color: yellow; */
}

.lottery-home-text {
  align-self: flex-start;
  padding-top: 20vh;
  padding-right: 10vw;
  width: 40vw;
}

img.lottery-home-mockup {
  align-self: flex-start;
  width: auto;
  height: auto;
  max-height: 90vh;
}

.explainer-container {
  background-image: url("/src/resources/images/explainer-bg-pink-web.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 90vh;
}
.explainer-container-content {
  justify-content: space-between;
  width: 80vw;
  margin: auto;
  height: 40vh;
  padding-top: 10vh;
}

.explainer-title {
  padding-right: 5vw;
}
.explainer-text-boxes {
  justify-content: space-between;
}
.lottery-home-footer {
  width: 50vw;
  margin: auto;
}

.lottery-home-footer .email-input-container {
  padding-top: 0 !important;
}

@media only screen and (max-width: 800px) {
  body {
    text-align: center !important;
  }

  .explainer-container-content {
    height: auto !important;
    width: 90vw !important;
  }
  .lottery-home-text {
    width: 90vw !important;
    padding-right: 0 !important;
    padding-bottom: 5vh;
  }
  .lottery-home-landing-container {
    flex-direction: column !important;
  }

  .lottery-home-mockup {
    width: 100vw !important;
    margin-right: -10vw !important;
  }
  .lottery-home-landing-container {
    height: auto !important;
  }
  .explainer-container {
    height: auto !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -25vh;
    background-image: url("/src/resources/images/explainer-bg-pink-mobile.svg") !important;
  }
  .explainer-text-boxes {
    flex-direction: column !important;
    padding-bottom: 25vh;
  }
  .explainer-title {
    padding-bottom: 10vw !important;
  }
  h3.explainer-title {
    font-size: 2rem !important;
    text-align: center;
  }
  .lottery-home-footer {
    padding-top: 5vw;
    width: 90vw !important;
  }
  h2.lottery-home-text-title {
    font-size: 3rem !important;
  }
  .lottery-home-text {
    padding-top: 10vh !important;
  }
  .lottery-home-header {
    height: 5vh !important;
  }
  img.lottery-home-header-logo {
    height: 60% !important;
    opacity: 50%;
  }
  .waitlist-button-web-text {
    display: none !important;
  }
  input {
    height: 2vh !important;
  }
  label {
    margin-top: -0.1rem !important;
  }
}
