.rows {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-direction: row;
}

.email-input-container {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.email-input-text-field {
  flex: 1;
}
.email-input-button {
  margin-left: 1vw !important;
  flex: 0.25;
}
